.About {
  position: fixed;
  right: 5px;
  margin-top: 5px;
  font-size: 38px;
  color: white;
}
.About:hover {
  color: #ffc93c;
}

.Label {
  position: absolute;
  top: 10%;
  left: 10%;
  color: rgb(175, 170, 170);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  float: left;
}

.Name {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 32px;
  font-family: "Nunito Sans", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Name:focus {
  outline: none;
}

.Button {
  position: fixed;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Green */
  border: none;
  color: #03256c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  margin-top: 4%;
  border-radius: 10px;
}
.Button:hover {
  background-color: skyblue;
  transition: 0.2s;
}
.Button:active {
  background-color: tomato;
}
.ButtonWishes {
  position: fixed;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Green */
  border: none;
  color: #03256c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  margin-top: 4%;
  border-radius: 10px;
}
.ButtonWishes:hover {
  background-color: skyblue;
  transition: 0.2s;
}
.ButtonWishes:active {
  background-color: tomato;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #03256c, #810034, #00005c, #23d5ab);
  background-size: 1000%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 450px) {
  .Button {
    position: fixed;
    top: 425px;
  }
}

@media (min-width: 760px) and (max-width: 800px) {
  .Button {
    position: fixed;
    top: 550px;
  }
  .ButtonWishes {
    position: fixed;
    top: 650px;
  }
}
@media (min-width: 355px) and (max-width: 450px) {
  .About {
    position: fixed;
    right: 5px;
    margin-top: 5px;
    font-size: 22px;
  }
  .Label {
    font-size: 32px;
    text-align: center;
  }
  .Button {
    position: fixed;
    top: 450px;
  }
  .ButtonWishes {
    position: fixed;
    top: 550px;
  }
}
